@import "tailwindcss";
@import "./fonts.css";

body {
  font-family: 'nanum-gothic-coding', monospace;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}